<!DOCTYPE HTML>
<html>
  <head>
    <title>Todo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/todos" method="POST">
      <input type="text" name="content" />
      <input type="submit" value="新增" />
    </form>
    <h3>Update</h3>
    <form action="/todos/query" method="POST">
        <span>Id: </span><input type="text" name="objectId" /><br>
        <span>New Content: </span><input type="text" name="newContent" /><br>
        <input type="submit" value="Update" />
    </form>
    <ul>
      <% for(var i=0; i<todos.length; i++) {%>
      <li><%= todos[i].get('content') %>[ <%= todos[i].id %> ]</li>
      <% } %>
    </ul>
  </body>
</html>
